<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="ChromeSocketsTcp">
    <param name="ios-package" value="ChromeSocketsTcp"/>
  </feature>

  <feature name="IosSocketsCommon">
    <param name="ios-package" value="IosSocketsCommon"/>
  </feature>

  <feature name="ChromeSocketsTcp">
    <param name="ios-package" value="ChromeSocketsTcp"/>
  </feature>

  <feature name="ChromeSocketsTcpServer">
    <param name="ios-package" value="ChromeSocketsTcpServer"/>
  </feature>

  <feature name="networkinterface">
    <param name="ios-package" value="CDVNetworkInterface" onload="true"/>
  </feature>

  
</widget>